.app {
    max-width: 100% !important;
    padding: 0 !important;
}

.contain {
    flex-grow: 1;
    display: flex;
}

.contain > div{
    flex-grow: 1;
}

.tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}
.tabitem{
    flex-grow:1
}
#main-tabs > div > button{
    font-size: calc(var(--section-header-text-size) * 2);
}

.page-tab {
    flex-grow: 1;
}
.page-tab > div{
    height: 100%;
}
.page-tab > div > div{
    height: 100%;
}
#preview_image {
    flex-grow: 1;
}

footer {
    display: none !important;
}