[gen_server]
    host = "0.0.0.0"
    port = 7000
    max_jobs = 2
    min_delay = 1.0
    save_path = "./data"
    http_backend = "curl_cffi" # or "httpx"
    token = ""
    always_require_auth = false
    save_directly = false
    separate_metadata = false
    compression_quality = 75
    compression_method = 6
    
    [[gen_server.auth]]
        password = "123456"
        save_path = "./free"
        free_only = true
        custom_sub_folder = false
    
    [[gen_server.auth]]
        password = "aerlhkvsdjfh"
        free_only = false


[client]
    autosave = true
    use_standalone_window = true
    save_path = "./data_client"
    
    mode = "remote"
    http_backend = "httpx" # or "curl_cffi"
    end_point = "http://127.0.0.1:7000"
    end_point_pswd = "123456"
    token = ""
    
    default_prompt = "1girl, loli, dragon girl, dragon wings, dragon tail, dragon horns, pointy ears, long pink hair, purple eyes, black dress"
    default_neg = "nsfw"
    
    [client.remote_extra_infos]
        save_folder = "guest1"