fastapi
itsdangerous
pillow
numpy
gradio
toml
curl_cffi
httpx
snowflake-id
discord
pydantic
piexif
loguru
pywebview
pytelegrambotapi
arclet-alconna
python-multipart>=0.0.18 # not directly required, pinned by Snyk to avoid a vulnerability