fastapi
itsdangerous
pillow
numpy
gradio
toml
curl_cffi
httpx
snowflake-id
discord
pydantic
piexif
loguru
pywebview
pytelegrambotapi
arclet-alconna
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability